p,
label,
div,
a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

p
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide_overflow
{
    overflow-y: hidden;
}


.zero_height
{
    height: 0;
}

body
{
    margin: 0px;
}

.picture_button
{
    cursor: pointer;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_button_img
{
    width: 75%;
    height: 75%;
}

.picture_button .picture_button_bg
{
    height: 100%;
    width: 100%;
    background-color: #ffc629;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity 0.25s;
    z-index: -10;
}

.picture_button:hover .picture_button_bg
{
    opacity: 0.6; 
}

.bold
{
    font-weight: 700;
    font-size: 16pt;
}

.side_by_side
{
    display: flex;
    flex-direction: row;
    vertical-align: top;
}

.size_to_content
{
    width: fit-content;
}