.floating_header
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.page_button
{
    font-size: 12pt;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    height: 60px;
    padding: 0px 10px;
    color: white;
    transition: background-color 0.25s;
}

.page_button:hover
{
    background-color: rgb(70, 70, 70);
}

.page_image
{
    height: 60px;
}

.page_title_text
{
    color: white;
    font-size: 24pt;
    font-weight: 700;
    align-self: center;
    text-align: center;
}