.main_list
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_element
{
    background-color: #eeeeee;
    margin: 10px 40px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.animate_open
{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s;
}

.animate_open > div
{
    overflow: hidden;
}

.animate_open_default
{
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s;
}

.animate_open_default > div
{
    overflow: hidden;
}

.list_tabs
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab_button
{
    font-size: 12pt;
    background-color: #ffc629;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #ffc629;
    cursor: pointer;
    height: 60px;
    padding: 0px 20px;
    transition: background-color 0.25s;
}

.tab_button:hover
{
    background-color: #ffdc7b;
}

.tab_button.tab_active
{
    background-color: #c07a10;
}

.list_paragraph_spacer
{
    padding-left: 10px;
}

.list_pargraph_no_break
{
    white-space: nowrap;
}

.list_link
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.list_indent
{
    margin-left: 40px;
}