.coordinator_table_deco
{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 0px;
    row-gap: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.schedule_table
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.legend_table
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.table_padder
{
    margin-top: 0px;
    margin-bottom: 20px;
}

.legend_button
{
    font-size: 12pt;
    background-color: #ffc629;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #ffc629;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    transition: background-color 0.25s;
}

.legend_button:hover
{
    background-color: #ffdc7b;
}

.table_data
{
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header_row
{
    background-color: #ffc629;
    border: 2px;
    border-style: solid;
    border-color: #aa841b;
}

.data_row
{
    background-color: #ffffff;
    border: 2px;
    border-style: solid;
    border-color: rgb(190, 190, 190);
}